@{
    ViewBag.Title = "Home Page";
}
@model Project.Manhattan1.Models.MessageModel

<div class="sendMessage">
    <form enctype='application/json' align="center" method="post">
        <textarea id="send-message" name='message' value='#' placeholder="Enter your message..." rows="4" cols="50"></textarea>
        <br>
        <button id="submit-button" type="submit" action="">Send Message</button>
    </form>
</div>