@{
    ViewBag.Title = "Home Page";
    @model   Project.Manhattan1.Models.MasterModel
  }
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="Site.css">
</head>
<script>
    $(".chatHistory").animate({ scrollTop: $(this).height() }, "slow");
</script>
<html>
<div class="sidebar-nav-fixed pull-right affix">
    <div class="userList">
        <ul id="UserList">
            @foreach (var u in Model.User) { 
            <li>@u. </li>
            }
        </ul>
    </div>
</div>
<div class="messageBox">
    <div class="chatHistory">
        <table class="messageTable">
            @foreach (var m in Model.Message)
            {
                <tr>
                    <td>@m.UserTo</td>
                    <td>@m.Message</td>
                    <td>@m.DateTime</td>
                </tr>

            }
        </table>
    </div>
    <div class="sendMessage">
        <form enctype='application/json' align="center" action="/Home/SendChat" method="post">
            <textarea id="send-message" name='message' value='#' placeholder="Enter your message..." rows="4" cols="50"></textarea>
            <br>
            <button id="submit-button" type="submit" action="">Send Message</button>
        </form>
    </div>
</div>
</html>