@{
    ViewBag.Title = "Home Page";
    @model   List<Project.Manhattan1.Models.MessageModel>
  }
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="Site.css">
</head>
<html>
<div class="messageBox">
    <div class="chatHistory">
        <table class="messageTable">
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.UserTo</td>
                    <td>@m.Message</td>
                    <td>@m.DateTime</td>
                </tr>

            }
        </table>
    </div>
    <div class="sendMessage">
        <form enctype='application/json' align="center" action="/Home/SendChat" method="post">
            <textarea id="send-message" name='message' value='#' placeholder="Enter your message..." rows="4" cols="50"></textarea>
            <br>
            <button id="submit-button" type="submit" action="">Send Message</button>
        </form>
    </div>
</div>
</html>