
        .messageBox {
            background-color: #dddddd;
            padding: 20px 0px;
            width: 600px;
            margin: 10px auto;
            border: 4px solid #3498db;
            border-radius: 20px;
            width: 60%;
        }

        #submit-button {
            background-color: #3498db;
            border: 0;
            border-radius: 10px;
            color: white;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

            #submit-button:active {
                background-color: #2980b9;
                border: 0;
                border-radius: 10px;
                color: white;
                padding: 8px 16px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }

        #send-message {
            border: 4px 4px black;
            color: black;
            padding: 8px 16px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 20px;
            font-family: sans-serif;
            resize: none;
            width: 458px;
            border-radius: 10px;
        }

        .chatHistory {
            margin: 20px 0px;
        }

        table, td, th {
            border: 1px solid #dddddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 500px;
            margin: 0 auto;
            font-family: sans-serif;
            background-color: white;
            border-radius: 10px;
        }

        tbody {
         width: 200px;
         height: 400px;
         overflow: auto;
        }

        th, td {
            padding: 10px;
        }

